In [ ]:
import string

In [ ]:
!wget "http://deepyeti.ucsd.edu/jianmo/amazon/categoryFiles/Arts_Crafts_and_Sewing.json.gz"

--2022-10-03 18:03:12--  http://deepyeti.ucsd.edu/jianmo/amazon/categoryFiles/Arts_Crafts_and_Sewing.json.gz
Resolving deepyeti.ucsd.edu (deepyeti.ucsd.edu)... 169.228.63.50
Connecting to deepyeti.ucsd.edu (deepyeti.ucsd.edu)|169.228.63.50|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 306424435 (292M) [application/octet-stream]
Saving to: ‘Arts_Crafts_and_Sewing.json.gz’

Arts_Crafts_and_Sew 100%[===================>] 292.23M  18.7MB/s    in 17s

2022-10-03 18:03:29 (16.9 MB/s) - ‘Arts_Crafts_and_Sewing.json.gz’ saved [306424435/306424435]

In [ ]:
!gzip -d Arts_Crafts_and_Sewing.json.gz

In [ ]:
import pandas as pd

df = pd.read_json("Arts_Crafts_and_Sewing.json", lines=True)

In [ ]:
df

,overall,vote,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,image
0,5,4,True,"11 6, 2013",A3U4E9PIZ8OWH1,0449819906,{'Format:': ' Kindle Edition'},Shirley Curtis,I've read this book already and I've got plans...,A WONDERFUL BOOK,1383696000,NaN
1,5,NaN,True,"02 28, 2017",A3945D2TJ0PI86,0449819906,{'Format:': ' Kindle Edition'},M. Smith,Nicely written directions.,Nice,1488240000,NaN
2,5,NaN,True,"02 25, 2017",A2WZK72HLQ7SPT,0449819906,{'Format:': ' Paperback'},Amazon Customer,love it,Five Stars,1487980800,NaN
3,5,NaN,True,"01 25, 2017",A1Q7YJ1NPE6E0W,0449819906,{'Format:': ' Kindle Edition'},MargaretT,Good additional knitting reference to have ava...,Good Reference in Kindle Edition,1485302400,NaN
4,5,NaN,True,"01 12, 2017",A2846L8Q507JC4,0449819906,{'Format:': ' Kindle Edition'},Dulce,"A gazillion pattern stitches, lucidly explaine...","Extremely clear, thorough",1484179200,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2875912,3,2,True,"12 5, 2016",A3DBSNSXS3HLW2,B01HJHR2PM,NaN,Amazon Customer,The pens took weeks to arrive and ran out of i...,... took weeks to arrive and ran out of ink pr...,1480896000,NaN
2875913,5,NaN,True,"12 1, 2016",A335NB837Q8LWN,B01HJHR2PM,NaN,Kendra Swain,"Used these on our wedding canvas guest book, t...",Great product!!,1480550400,NaN
2875914,5,NaN,True,"10 25, 2016",AKWXQAVB2U5ME,B01HJHR2PM,NaN,Fastfinal6565,LOVE LOVE LOVE,Five Stars,1477353600,NaN
2875915,1,3,True,"10 24, 2016",A2CWSI0186P0AY,B01HJHR2PM,NaN,Oscar,color won't stop running once you activate the...,One Star,1477267200,NaN
2875916,1,3,True,"09 21, 2016",A172Y8313QKCNZ,B01HJHR2PM,NaN,spartacus,I received these earlier than expected. Have r...,One color,1474416000,NaN

In [ ]:
df = df.drop(['vote','verified','reviewTime','reviewerID','style','reviewerName','unixReviewTime','image'], inplace=True, axis=1)

In [ ]:
df

,overall,asin,reviewText,summary
0,5,0449819906,I've read this book already and I've got plans...,A WONDERFUL BOOK
1,5,0449819906,Nicely written directions.,Nice
2,5,0449819906,love it,Five Stars
3,5,0449819906,Good additional knitting reference to have ava...,Good Reference in Kindle Edition
4,5,0449819906,"A gazillion pattern stitches, lucidly explaine...","Extremely clear, thorough"
...,...,...,...,...
2875912,3,B01HJHR2PM,The pens took weeks to arrive and ran out of i...,... took weeks to arrive and ran out of ink pr...
2875913,5,B01HJHR2PM,"Used these on our wedding canvas guest book, t...",Great product!!
2875914,5,B01HJHR2PM,LOVE LOVE LOVE,Five Stars
2875915,1,B01HJHR2PM,color won't stop running once you activate the...,One Star
2875916,1,B01HJHR2PM,I received these earlier than expected. Have r...,One color

In [ ]:
null_data = df[df.isnull().any(axis=1)]

In [ ]:
null_data

,overall,asin,reviewText,summary
5468,5,B00004THXH,NaN,Five Stars
5585,5,B00004THXH,Just what I was looking for... a little hard t...,NaN
7599,5,B00004Z2U8,NaN,Five Stars
8032,4,B00004Z2UD,NaN,Four Stars
10904,5,B00006IAHD,NaN,NaN
...,...,...,...,...
2874029,5,B01HDZY2WQ,Great stuff!!!,NaN
2874157,5,B01HEDV9SC,I used these to cover my bf's house while he w...,NaN
2875590,5,B01HIIFJ8Y,NaN,Five Stars
2875603,1,B01HIIV3Y8,NaN,Never Came
2875807,5,B01HJ6SMSY,NaN,Five Stars

In [ ]:
df = df.dropna()

In [ ]:
df

,overall,asin,reviewText,summary
0,5,0449819906,I've read this book already and I've got plans...,A WONDERFUL BOOK
1,5,0449819906,Nicely written directions.,Nice
2,5,0449819906,love it,Five Stars
3,5,0449819906,Good additional knitting reference to have ava...,Good Reference in Kindle Edition
4,5,0449819906,"A gazillion pattern stitches, lucidly explaine...","Extremely clear, thorough"
...,...,...,...,...
2875912,3,B01HJHR2PM,The pens took weeks to arrive and ran out of i...,... took weeks to arrive and ran out of ink pr...
2875913,5,B01HJHR2PM,"Used these on our wedding canvas guest book, t...",Great product!!
2875914,5,B01HJHR2PM,LOVE LOVE LOVE,Five Stars
2875915,1,B01HJHR2PM,color won't stop running once you activate the...,One Star
2875916,1,B01HJHR2PM,I received these earlier than expected. Have r...,One color

In [ ]:
ans = [y for x, y in df.groupby('asin')]

In [ ]:
ans[0]['reviewText']

2129208    Great ribbon for wrapping gifts!
Name: reviewText, dtype: object

In [ ]:
print(len(ans))

302718

In [ ]:
for i in range (len(ans)):
  print(str(i) + " == " + str(len(ans[i])))
  if(len(ans[i])<1000):
    print(str(i) + " = " + str(len(ans[i])))
    ans.pop(i)
    i = i-3

0 == 1262
1 == 1210
2 == 1932
3 == 1232
4 == 1216
5 == 2432
6 == 1464
7 == 1359
8 == 1641
9 == 2066
10 == 2097
11 == 1111
12 == 1431
13 == 3425
14 == 1428
15 == 1616
16 == 1788
17 == 1820
18 == 1155
19 == 1346
20 == 1058
21 == 2643
22 == 1601
23 == 1538
24 == 2380
25 == 1188
26 == 3590
27 == 1016
28 == 1028
29 == 1080
30 == 1280
31 == 1058
32 == 1192
33 == 1556
34 == 1138
35 == 2134
36 == 1744
37 == 3860
38 == 1310
39 == 1078
40 == 1598
41 == 1924
42 == 1232
43 == 1174
44 == 1210
45 == 1072
46 == 1290
47 == 3766
48 == 1626
49 == 1038
50 == 1276
51 == 1604
52 == 1118
53 == 1018
54 == 4002
55 == 1180
56 == 1118
57 == 1732
58 == 2612
59 == 1014
60 == 3858
61 == 1028
62 == 1134
63 == 1624
64 == 1492
65 == 2298
66 == 1524
67 == 1346
68 == 1928
69 == 1769
70 == 1586
71 == 1387
72 == 1818
73 == 1120
74 == 1985
75 == 1330
76 == 2506
77 == 2292
78 == 1809
79 == 1249
80 == 1469
81 == 2464
82 == 1007
83 == 1568
84 == 1008
85 == 4531
86 == 1445
87 == 1496
88 == 1174
89 == 1185
90 == 2211
91 == 1043
92 == 1253
93 == 3168
94 == 1746
95 == 1193
96 == 2635
97 == 1048
98 == 1444
99 == 1439
100 == 1048
101 == 1450
102 == 1151
103 == 1295
104 == 2952
105 == 1515
106 == 1579
107 == 1091
108 == 1162
109 == 1206
110 == 2500
111 == 1106
112 == 1597
113 == 1010
114 == 1435
115 == 2401
116 == 1117
117 == 1117
118 == 1239
119 == 1757
120 == 1012
121 == 1051
122 == 1151
123 == 1674
124 == 1242
125 == 1330
126 == 1611
127 == 1564
128 == 1858
129 == 1332
130 == 1519
131 == 1095
132 == 3056
133 == 1293
134 == 1187
135 == 1196
136 == 1456
137 == 1630
138 == 1975
139 == 1011
140 == 1611
141 == 1533
142 == 1208
143 == 1022
144 == 1608
145 == 1017
146 == 1097
147 == 1202
148 == 1892
149 == 2759

In [ ]:
print(len(ans))

150

In [ ]:
for i in range (len(ans)):
  ans[i] = ans[i].reset_index()
  print(ans[i].head())

In [ ]:
print(len(ans))

150

In [ ]:
!mkdir /Review
!mkdir /Overall
!mkdir /Summary

In [ ]:
for i in range (len(ans)):
  single_ans =  ans[i]
  tempans = ans[i].to_csv(columns=['reviewText'], header=None, index=None)
  #print(tempans)
  filename = "/Review/" + single_ans['asin'][0] + ".txt"
  f1 = open(filename,"a+")
  f1.write(tempans)

In [ ]:
for i in range (len(ans)):
  single_ans1 =  ans[i]
  tempans1 = ans[i].to_csv(columns=['overall'], header=None, index=None)
  #print(tempans)
  filename1 = "/Overall/" + single_ans1['asin'][0] + ".txt"
  f1 = open(filename1,"a+")
  f1.write(tempans1)

In [ ]:
for i in range (len(ans)):
  single_ans2 =  ans[i]
  tempans2 = ans[i].to_csv(columns=['summary'], header=None, index=None)
  #print(tempans)
  filename2 = "/Summary/" + single_ans2['asin'][0] + ".txt"
  f1 = open(filename2,"a+")
  f1.write(tempans2)

In [ ]:
!zip -r /Review.zip /Review
!zip -r /Overall.zip /Overall
!zip -r /Summary.zip /Summary

In [ ]:
from google.colab import files
files.download("/Review.zip")
files.download("/Overall.zip")
files.download("/Summary.zip")

#END